Repository spacetelescope/hst_notebooks, pull requests merged in 2023-06, with the labels that each got.

#58 Prep for ingest of ACS notebooks
  _toc.yml
  notebooks/ACS/README.md
  notebooks/ACS/acs_logo.png
Labels: ACS

#49 Edit SplitTag.ipynb
  notebooks/COS/SplitTag/SplitTag.ipynb
  notebooks/COS/SplitTag/requirements.txt
Labels: Technical Review, COS

#64 Debugging and updating the Drizzlepac mask_satellite notebook
  notebooks/DrizzlePac/mask_satellite/mask_satellite.ipynb
  notebooks/DrizzlePac/mask_satellite/requirements.txt
Labels: Technical Review, DrizzlePac
