Repository spacetelescope/hst_notebooks, pull requests merged in 2023-07, with the labels that each got.

#72 Fix LaTeX style errors
  notebooks/COS/SplitTag/SplitTag.ipynb
Labels: Technical Review

#73 Update pep8_nb_style_checker.py to ignore PEP8 error F821 (undefined name)
  .github/helpers/nb_flake8_magic.json
  .github/helpers/pep8_nb_style_checker.py
Labels: bugfix

#69 Edit COS DayNight.ipynb
  notebooks/COS/DayNight/DayNight.ipynb
  notebooks/COS/DayNight/requirements.txt
Labels: Technical Review

#74 Relaxed pep8 style checker workflow triggering conditions
  .github/workflows/pep8_nb_style_check.yml
Labels: enhancement

#68 Fixing drizzlepac update_astrometry_solutions notebook.
  notebooks/DrizzlePac/using_updated_astrometry_solutions/using_updated_astrometry_solutions.ipynb
Labels: DrizzlePac

#62 Add ACS notebook acs_polarization_tools.ipynb
  _toc.yml
  notebooks/ACS/acs_polarization_tools/acs_polarization_tools.ipynb
  notebooks/ACS/acs_polarization_tools/requirements.txt
  notebooks/COS/Extract/requirements.txt
  notebooks/COS/LSF/requirements.txt
  notebooks/DrizzlePac/drizzle_wfpc2/requirements.txt
  requirements.txt
Labels: Technical Review, ACS

#71 Edit COS LSF.ipynb notebook
  notebooks/COS/LSF/LSF.ipynb
  notebooks/COS/LSF/figures/LSFHomepage.png
  notebooks/COS/LSF/figures/LSFHomepage2.png
Labels: Technical Review, COS

#57 added findsat_mrt demo to satellite mask notebook
  notebooks/DrizzlePac/mask_satellite/mask_satellite.ipynb
Labels: DrizzlePac

#61 Add ACS notebook acs_pixel_area_maps.ipynb
  _toc.yml
  notebooks/ACS/acs_pixel_area_maps/acs_pixel_area_maps.ipynb
  notebooks/ACS/acs_pixel_area_maps/p_module/__init__.py
  notebooks/ACS/acs_pixel_area_maps/p_module/notebook_tools.py
  notebooks/ACS/acs_pixel_area_maps/p_module/plot.py
  notebooks/ACS/acs_pixel_area_maps/p_module/plots.py
  notebooks/ACS/acs_pixel_area_maps/requirements.txt
Labels: Technical Review, ACS

#66 Add ACS notebook acs_sbc_dark_analysis.ipynb
  _toc.yml
  notebooks/ACS/acs_sbc_dark_analysis/acs_sbc_dark_analysis.ipynb
  notebooks/ACS/acs_sbc_dark_analysis/requirements.txt
Labels: Technical Review, ACS
