Repository spacetelescope/hst_notebooks, pull requests merged in 2023-10, with the labels that each got.

#51 Add STIS notebook cross-correlation.ipynb
  _toc.yml
  notebooks/STIS/cross-correlation/cross-correlation.ipynb
  notebooks/STIS/cross-correlation/pre-requirements.sh
  notebooks/STIS/cross-correlation/requirements.txt
Labels: STIS

#93 Prep hst_notebooks repository for new WFC3 notebooks
  _toc.yml
  notebooks/WFC3/README.md
  notebooks/WFC3/wfc3_env_legacy.yml
  notebooks/WFC3/wfc3_env_legacy_no_builds.yml
Labels: WFC3

#98 Fix pep8 caller workflows
  .github/workflows/pep8_nb_style_check.yml
  .github/workflows/pep8_script_style_check.yml
Labels: enhancement

#117 STIS Coronagraphy: matplotlib deprecation fix
  notebooks/STIS/CoronagraphyViz/STIS_Coronagraphy_Visualization_v2.ipynb
Labels: STIS

#118 STIS view_data: fix image rendering
  notebooks/STIS/view_data/figures/ch2_stis_data4.1.jpg
  notebooks/STIS/view_data/view_data.ipynb
Labels: STIS
