Repository spacetelescope/hst_notebooks, pull requests merged in 2023-12, with the labels that each got.

#150 Create weekly_broken_link_finder.yml
  .github/workflows/weekly_broken_link_finder.yml
Labels: enhancement

#149 Updated syntax used to display images so they properly render in generated HTML pages
  notebooks/COS/AsnFile/AsnFile.ipynb
  notebooks/COS/CalCOS/CalCOS.ipynb
  notebooks/COS/DataDl/DataDl.ipynb
  notebooks/COS/DayNight/DayNight.ipynb
  notebooks/COS/LSF/LSF.ipynb
  notebooks/COS/Setup/Setup.ipynb
  notebooks/COS/ViewData/ViewData.ipynb
  notebooks/STIS/CoronagraphyViz/STIS_Coronagraphy_Visualization_v2.ipynb
  notebooks/STIS/calstis/calstis_2d_ccd.ipynb
  notebooks/STIS/drizpac_notebook/STIS_DrizzlePac_Tutorial.ipynb
  notebooks/WFC3/calwf3_v1.0_cte/calwf3_with_v1.0_PCTE.ipynb
Labels: bugfix, ACS, COS, WFC3, STIS

#112 Add WFC3 notebook 'WFC3_UVIS_Pixel_Area_Map_Corrections_for_Subarrays.ipynb'
  _config.yml
  _toc.yml
  notebooks/WFC3/uvis_pam_corrections/WFC3_UVIS_Pixel_Area_Map_Corrections_for_Subarrays.ipynb
  notebooks/WFC3/uvis_pam_corrections/requirements.txt
Labels: WFC3

#105 Add WFC3 notebook 'wfc3_image_displayer_analyzer.ipynb'
  _config.yml
  _toc.yml
  notebooks/WFC3/image_displayer_analyzer/README.md
  notebooks/WFC3/image_displayer_analyzer/display_image.py
  notebooks/WFC3/image_displayer_analyzer/requirements.txt
  notebooks/WFC3/image_displayer_analyzer/row_column_stats.py
  notebooks/WFC3/image_displayer_analyzer/wfc3_image_displayer_analyzer.ipynb
Labels: WFC3

#106 Add WFC3 notebook 'IR_IMA_Visualization_with_an_Example_of_Time_Variable_Background.ipynb'
  _config.yml
  _toc.yml
  notebooks/WFC3/ir_ima_visualization/IR_IMA_Visualization_with_an_Example_of_Time_Variable_Background.ipynb
  notebooks/WFC3/ir_ima_visualization/ima_visualization_and_differencing.py
  notebooks/WFC3/ir_ima_visualization/requirements.txt
Labels: WFC3

#159 fix remaining missing images in notebooks
  notebooks/COS/DataDl/DataDl.ipynb
  notebooks/COS/LSF/LSF.ipynb
  notebooks/COS/Setup/Setup.ipynb
  notebooks/STIS/calstis/calstis_2d_ccd.ipynb
  notebooks/WFC3/calwf3_v1.0_cte/calwf3_with_v1.0_PCTE.ipynb
Labels: bugfix

#161 Force deployment of COS notebook "Setup.ipynb" html page
  notebooks/COS/Setup/Setup.ipynb
Labels: bugfix

#163 Bugfix: calwf3_with_v1.0_PCTE.ipynb
  notebooks/WFC3/calwf3_v1.0_cte/calwf3_with_v1.0_PCTE.ipynb
Labels: bugfix, WFC3

#152 add HASP setup notebook and HASP folder
  _toc.yml
  notebooks/HASP/Setup/Setup.ipynb
  notebooks/HASP/Setup/requirements.txt
Labels: HASP

#164 Update _toc.yml
  _toc.yml
Labels: bugfix

#156 add crds to requirements.txt
  notebooks/COS/Extract/Extract.ipynb
  notebooks/COS/Extract/requirements.txt
Labels: COS

#137 Drizzlepac notebook debug and fix : Drizzle_wfpc2 and Sky_matching (PR 2 of 2)
  _config.yml
  _toc.yml
  notebooks/DrizzlePac/drizzle_wfpc2/drizzle_wfpc2.ipynb
  notebooks/DrizzlePac/drizzle_wfpc2/requirements.txt
  notebooks/DrizzlePac/sky_matching/sky_matching.ipynb
Labels: DrizzlePac
