Repository spacetelescope/hst_notebooks, pull requests merged in 2023-08, with the labels that each got.

#67 Add ACS notebook acs_subarrays.ipynb
  _toc.yml
  notebooks/ACS/acs_subarrays/acs_subarrays.ipynb
  notebooks/ACS/acs_subarrays/pre-requirements.sh
  notebooks/ACS/acs_subarrays/requirements.txt
Labels: Technical Review, ACS

#59 Add ACS notebook acs_cte_forward_model_example.ipynb
  _toc.yml
  notebooks/ACS/acs_cte_forward_model/acs_cte_forward_model_example.ipynb
  notebooks/ACS/acs_cte_forward_model/pre-requirements.sh
  notebooks/ACS/acs_cte_forward_model/requirements.txt
Labels: Technical Review, ACS

#65 Add ACS notebook acs_saturation_trails.ipynb
  _toc.yml
  notebooks/ACS/acs_saturation_trails/acs_saturation_trails.ipynb
  notebooks/ACS/acs_saturation_trails/p_module/__init__.py
  notebooks/ACS/acs_saturation_trails/p_module/plot.py
  notebooks/ACS/acs_saturation_trails/requirements.txt
Labels: Technical Review, ACS

#60 Add ACS notebook acs_findsat_mrt_example.ipynb
  _toc.yml
  notebooks/ACS/acs_findsat_mrt/acs_findsat_mrt_example.ipynb
  notebooks/ACS/acs_findsat_mrt/requirements.txt
Labels: Technical Review, ACS

#56 Add STIS notebook view_data.ipynb
  _toc.yml
  notebooks/STIS/view_data/requirements.txt
  notebooks/STIS/view_data/view_data.ipynb
  requirements.txt
Labels: STIS

#76 Make edits to Extract.ipynb
  notebooks/COS/Extract/Extract.ipynb
  notebooks/COS/Extract/requirements.txt
Labels: Technical Review

#55 Add STIS notebook target_acquisition.ipynb
  _toc.yml
  notebooks/COS/Extract/requirements.txt
  notebooks/STIS/target_acquisition/requirements.txt
  notebooks/STIS/target_acquisition/target_acquisition.ipynb
Labels: STIS

#88 Refactor pep8 checker workflow to use new version of workflow in notebook-ci-actions repository
  .github/helpers/nb_flake8_magic.json
  .github/helpers/pep8_nb_style_checker.py
  .github/workflows/pep8_nb_style_check.yml
Labels: enhancement

#50 Add STIS notebook calstis_2d_ccd.ipynb
  _toc.yml
  notebooks/STIS/calstis/calstis_2d_ccd.ipynb
  notebooks/STIS/calstis/figures/CCD_overscan.jpg
  notebooks/STIS/calstis/figures/ch3_stis_calib4.2.jpg
  notebooks/STIS/calstis/figures/pixels_trimmed.jpg
  notebooks/STIS/calstis/pre-requirements.sh
  notebooks/STIS/calstis/requirements.txt
Labels: STIS

#47 Add STIS notebook STIS_Coronagraphy_Visualization_v2.ipynb
  _toc.yml
  notebooks/STIS/CoronagraphyViz/STIS_Coronagraphy_Visualization_v2.ipynb
  notebooks/STIS/CoronagraphyViz/c12_special12.1.png
  notebooks/STIS/CoronagraphyViz/requirements.txt
Labels: Technical Review, STIS
