Repository spacetelescope/hst_notebooks, pull requests merged in 2024-02, with the labels that each got.

#185 Added CRDS to STIS notebooks requirements
  notebooks/STIS/calstis/calstis_2d_ccd.ipynb
  notebooks/STIS/calstis/requirements.txt
  notebooks/STIS/cross-correlation/cross-correlation.ipynb
  notebooks/STIS/cross-correlation/requirements.txt
Labels: bugfix, STIS

#188 Create weekly_pep8_nb_style_check.yml
  .github/workflows/weekly_pep8_nb_style_check.yml
Labels: enhancement

#189 Update and rename weekly_pep8_nb_style_check.yml to weekly_pep8_style_check.yml
  .github/workflows/weekly_pep8_style_check.yml
Labels: enhancement

#190 Fix broken image link in acs_saturation_trails.ipynb
  notebooks/ACS/acs_saturation_trails/acs_saturation_trails.ipynb
  notebooks/ACS/acs_saturation_trails/p_module/plot.py
  notebooks/ACS/acs_saturation_trails/photometry_recovery.png
Labels: bugfix, ACS

#201 Update utils.py
  notebooks/WFC3/dash/utils.py
Labels: bugfix, WFC3

#202 Five broken links fixed.
  notebooks/ACS/acs_cte_forward_model/acs_cte_forward_model_example.ipynb
  notebooks/ACS/acs_saturation_trails/acs_saturation_trails.ipynb
  notebooks/ACS/acs_sbc_dark_analysis/acs_sbc_dark_analysis.ipynb
  notebooks/ACS/acs_subarrays/acs_subarrays.ipynb
Labels: ACS

#204 add "dollarmath" to _config.yml to enable math expressions in notebooks
  _config.yml
  notebooks/ACS/acs_cte_forward_model/acs_cte_forward_model_example.ipynb
Labels: bugfix

#205 Force HTML update to pages fixed in PRs 202 and 203.
  notebooks/ACS/acs_saturation_trails/acs_saturation_trails.ipynb
  notebooks/ACS/acs_sbc_dark_analysis/acs_sbc_dark_analysis.ipynb
  notebooks/ACS/acs_subarrays/acs_subarrays.ipynb
  notebooks/WFC3/exception_report/wfc3_exception_report.ipynb
  notebooks/WFC3/uvis_time_dependent_photometry/uvis_timedep_phot.ipynb
Labels: ACS, WFC3

#208 Make PEP8 and broken link changes to existing COS notebooks
  notebooks/COS/AsnFile/AsnFile.ipynb
  notebooks/COS/AsnFile/test_asn.py
  notebooks/COS/AsnFile/test_removed_exposure_asn.py
  notebooks/COS/AsnFile/test_splitwave_asn.py
  notebooks/COS/CalCOS/CalCOS.ipynb
  notebooks/COS/DataDl/DataDl.ipynb
  notebooks/COS/LSF/LSF.ipynb
  notebooks/COS/README.md
  notebooks/COS/ViewData/cos_functions.py
Labels: COS

#207 Add HASP DataDiagnostic.ipynb
  _toc.yml
  notebooks/HASP/DataDiagnostic/DataDiagnostics.ipynb
  notebooks/HASP/DataDiagnostic/logfiles/HASP_12715.out
  notebooks/HASP/DataDiagnostic/logfiles/HASP_16196.out
  notebooks/HASP/DataDiagnostic/logfiles/HASP_16655.out
  notebooks/HASP/DataDiagnostic/requirements.txt
Labels: HASP

#209 stis_cti requirements.txt
  notebooks/STIS/drizpac_notebook/STIS_DrizzlePac_Tutorial.ipynb
  notebooks/STIS/drizpac_notebook/requirements.txt
Labels: STIS
