Repository spacetelescope/hst_notebooks, pull requests merged in 2024-01, with the labels that each got.

#110 Add WFC3 notebook 'phot_examples.ipynb'
  _config.yml
  _toc.yml
  notebooks/WFC3/photometry_examples/phot_examples.ipynb
  notebooks/WFC3/photometry_examples/requirements.txt
Labels: WFC3

#111 Add WFC3 notebook 'TVB_flattenramp_notebook.ipynb'
  _config.yml
  _toc.yml
  notebooks/WFC3/tvb_flattenramp/TVB_flattenramp_notebook.ipynb
  notebooks/WFC3/tvb_flattenramp/pre-requirements.sh
  notebooks/WFC3/tvb_flattenramp/requirements.txt
Labels: WFC3

#113 Add WFC3 notebook 'uvis_timedep_phot.ipynb'
  _config.yml
  _toc.yml
  notebooks/WFC3/uvis_time_dependent_photometry/uvis_timedep_phot.ipynb
Labels: WFC3

#173 _config.yml: removed four merged notebooks from exclude list.
  _config.yml
Labels: bugfix, WFC3

#108 Add WFC3 notebook 'Correcting_for_Scattered_Light_in_IR_Exposures_by_Manually_Subtracting_Bad_Reads.ipynb'
  _config.yml
  _toc.yml
  notebooks/WFC3/ir_scattered_light_manual_corrections/Correcting_for_Scattered_Light_in_IR_Exposures_by_Manually_Subtracting_Bad_Reads.ipynb
  notebooks/WFC3/ir_scattered_light_manual_corrections/ima_visualization_and_differencing.py
  notebooks/WFC3/ir_scattered_light_manual_corrections/pre-requirements.sh
  notebooks/WFC3/ir_scattered_light_manual_corrections/requirements.txt
Labels: WFC3

#175 HASP/setup.ipynb: cleared all notebook outputs.
  notebooks/HASP/Setup/Setup.ipynb
Labels: bugfix, HASP

#107 Add WFC3 notebook 'Correcting_for_Scattered_Light_in_IR_Exposures_Using_calwf3_to_Mask_Bad_Reads.ipynb'
  _config.yml
  _toc.yml
  notebooks/WFC3/ir_scattered_light_calwf3_corrections/Correcting_for_Scattered_Light_in_IR_Exposures_Using_calwf3_to_Mask_Bad_Reads.ipynb
  notebooks/WFC3/ir_scattered_light_calwf3_corrections/ima_visualization_and_differencing.py
  notebooks/WFC3/ir_scattered_light_calwf3_corrections/pre-requirements.sh
  notebooks/WFC3/ir_scattered_light_calwf3_corrections/requirements.txt
Labels: WFC3

#176 Remove duplicates from the _toc.yml
  _toc.yml
Labels: bugfix

#179 Update pep8 checker workflows, broken link checker workflow to use "v3" branch, specify python version as input argument
  .github/workflows/pep8_nb_style_check.yml
  .github/workflows/pep8_script_style_check.yml
  .github/workflows/weekly_broken_link_finder.yml
Labels: enhancement

#180 Update _config.yml copyright year from "2022" to "2022-2024"
  _config.yml
Labels: enhancement

#181 Add Coadd HASP notebook to toc
  _toc.yml
Labels: HASP

#172 Add hasp fluxscaling notebook
  _toc.yml
  notebooks/HASP/FluxScaleTutorial/FluxScaleTutorial.ipynb
  notebooks/HASP/FluxScaleTutorial/requirements.txt
Labels: HASP

#183 Updated list of authors in DrizzlePac/README.md
  notebooks/DrizzlePac/README.md
Labels: DrizzlePac

#184 attempt to get updates to drizzle_wfpc2.ipynb to post to html
  notebooks/DrizzlePac/drizzle_wfpc2/drizzle_wfpc2.ipynb
Labels: DrizzlePac
